<div class="login" *ngIf="currentUser === null">
  <h1>Log In</h1>
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <div class="login-field">
      <label for="username">Username</label>
      <input type="username" formControlName="username" id="username" />
    </div>
    <div class="login-field">
      <label for="password">Password</label>

      <input type="password" formControlName="password" id="password" />
    </div>
    <button type="submit">Login</button>
    <a routerLink="/register" class="sign-up-link">or, sign up</a>
    <p *ngIf="errorMsg !== null" class="error-msg">{{ errorMsg }}</p>
  </form>
</div>
<div class="welcome-box" *ngIf="currentUser !== null">
  <h1>Welcome, {{ currentUser.name }}!</h1>
</div>

